name: FORK TEST VRT
on:
  push:
    branches:
      - master
  pull_request:
  pull_request_target:
    types: [labeled]
  issue_comment:
    types: [created]

# concurrency:
#   # see https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow
#   group: ${{ github.workflow }}-${{ github.ref }}
#   cancel-in-progress: true

env:
  NX_PARALLEL: 4 # ubuntu-latest = 4-core CPU / 16 GB of RAM | macos-14-xlarge (arm) = 6-core CPU / 14 GB of RAM
  NX_PREFER_TS_NODE: true
  NX_VERBOSE_LOGGING: true
  BASELINE_ID: vrt_baseline

jobs:
  update_baseline:
    if: ${{ github.repository_owner == 'hotell' && github.ref == 'refs/heads/master' && github.event_name=='push' && github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      actions: 'read'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@dbe0650947e5f2c81f59190a38512cf49126fe6b # v4.3.0
        with:
          main-branch-name: 'master'

      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: '20'

      - run: yarn install --frozen-lockfile
      - run: yarn playwright install --with-deps chromium
      # NOTE: we need to build the assertion CLI - will be removed once migrated ot ESM
      - run: yarn nx run visual-regression-assert:build

      - name: Affected Projects
        id: affected_projects_count
        run: |
          yarn --silent nx show projects -t test-vr-cli --affected --verbose false
          affected_count=$(yarn --silent nx show projects -t test-vr-cli --affected --verbose false | wc -l | tr -d ' ')
          echo "value=$affected_count" >> $GITHUB_OUTPUT

      - name: Download Current Baseline
        id: download_baseline
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          name: ${{ env.BASELINE_ID }}
          # last successful workflow run
          # run-id: ${{ github.event.head_commit.id }}
          # github-token: ${{ secrets.GITHUB_TOKEN }}
          # download to workspace root to set baseline
          path: '.'

      - name: Download Baseline outcome
        run: echo "Download baseline ${{ steps.download_baseline.outcome }}"

      # - name: Check if Baseline Artifact Exists
      #   id: check_baseline_exists
      #   run: |
      #     if [ -d vrt_baseline ]; then
      #       echo "value=true" >> $GITHUB_OUTPUT
      #     else
      #       echo "value=false" >> $GITHUB_OUTPUT
      #     fi

      - name: Update Baseline
        run: yarn nx affected -t test-vr-cli -u

      - name: Upload Baseline
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BASELINE_ID }}
          retention-days: 90
          if-no-files-found: error
          path: |
            **/__vrt_baseline__/*.png

  approve_vrt_diff:
    if: github.repository_owner == 'hotell' && github.event.issue.pull_request && contains(github.event.comment.body,'/approve-vrt')
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      statuses: write
      checks: write
      actions: read
      issues: read
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github/scripts
      - name: Update Existing Check Run
        uses: actions/github-script@v7
        with:
          script: |
            const run = require('./.github/scripts/approve-pr-vrt-diff');
            const config = {};
            await run({github,context,core,config});

  visual_regression_pr:
    if: github.repository_owner == 'hotell' && github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      actions: 'read'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        if: github.event_name == 'pull_request'
        uses: nrwl/nx-set-shas@dbe0650947e5f2c81f59190a38512cf49126fe6b # v4.3.0
        with:
          main-branch-name: 'master'

      - uses: actions/setup-node@v4
        if: github.event_name == 'pull_request'
        with:
          cache: 'yarn'
          node-version: '20'

      - run: yarn install --frozen-lockfile
      - run: yarn playwright install --with-deps chromium
      # NOTE: we need to build the assertion CLI - will be removed once migrated ot ESM
      - run: yarn nx run visual-regression-assert:build

      - name: Affected Projects
        id: affected_projects_count
        run: |
          yarn --silent nx show projects -t test-vr-cli --affected --verbose false
          affected_count=$(yarn --silent nx show projects -t test-vr-cli --affected --verbose false | wc -l | tr -d ' ')
          echo "value=$affected_count" >> $GITHUB_OUTPUT

      - name: Download Current Baseline
        if: steps.affected_projects_count.outputs.value > 0
        id: download_baseline
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          name: ${{ env.BASELINE_ID }}
          # last successful workflow run
          # run-id: ${{ github.event.head_commit.id }}
          # github-token: ${{ secrets.GITHUB_TOKEN }}
          # download to workspace root to set baseline
          path: '.'

      - name: Download Baseline outcome
        run: echo "Download baseline ${{ steps.download_baseline.outcome }}"

      - name: Debug baseline
        continue-on-error: true
        run: |
          ls -la packages/react-components/react-text/visual-regression/src/__vrt_baseline__/

      - name: Run VR tests
        run: yarn nx affected -t test-vr-cli

      - name: Create Report
        if: always() && github.event_name == 'pull_request' && steps.affected_projects_count.outputs.value > 0
        id: report
        run: |
          yarn visual-regression-assert report --outputPath dist/vrt
          cat dist/vrt/vrt-report.md >> $GITHUB_STEP_SUMMARY
          echo "value=true" >> $GITHUB_OUTPUT

      - name: Upload Report
        if: always() && github.event_name == 'pull_request' && steps.report.outputs.value == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: vrt_report
          retention-days: 1
          if-no-files-found: error
          path: |
            dist/vrt/

      - name: Save PR number
        if: always() && github.event_name == 'pull_request' && steps.report.outputs.value == 'true'
        run: echo ${{ github.event.number }} > pr.txt

      - uses: actions/upload-artifact@v4
        if: always() && github.event_name == 'pull_request' && steps.report.outputs.value == 'true'
        with:
          name: pr-number
          retention-days: 1
          if-no-files-found: error
          path: |
            pr.txt

  # visual_regression_pr_1:
  #   if: github.repository_owner == 'hotell' && (github.event_name == 'pull_request' || (github.event_name == 'issue_comment' && github.event.issue.pull_request && contains(github.event.comment.body, '/approve-diff')))
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: 'read'
  #     actions: 'read'
  #   steps:
  #     - run: |
  #         echo "approving VR diff ✅";
  #       if: github.event_name == 'issue_comment'

  #     - uses: actions/checkout@v4
  #       if: github.event_name == 'pull_request'
  #       with:
  #         fetch-depth: 0

  #     - name: Derive appropriate SHAs for base and head for `nx affected` commands
  #       if: github.event_name == 'pull_request'
  #       uses: nrwl/nx-set-shas@dbe0650947e5f2c81f59190a38512cf49126fe6b # v4.3.0
  #       with:
  #         main-branch-name: 'master'

  #     - uses: actions/setup-node@v4
  #       if: github.event_name == 'pull_request'
  #       with:
  #         cache: 'yarn'
  #         node-version: '20'

  #     - run: yarn install --frozen-lockfile
  #       if: github.event_name == 'pull_request'
  #     - run: yarn playwright install --with-deps chromium
  #       if: github.event_name == 'pull_request'
  #     # NOTE: we need to build the assertion CLI - will be removed once migrated ot ESM
  #     - run: yarn nx run visual-regression-assert:build
  #       if: github.event_name == 'pull_request'

  #     - name: Affected Projects
  #       if: github.event_name == 'pull_request'
  #       id: affected_projects_count
  #       run: |
  #         yarn --silent nx show projects -t test-vr-cli --affected --verbose false
  #         affected_count=$(yarn --silent nx show projects -t test-vr-cli --affected --verbose false | wc -l | tr -d ' ')
  #         echo "value=$affected_count" >> $GITHUB_OUTPUT

  #     - name: Run VR tests
  #       if: github.event_name == 'pull_request'
  #       run: yarn nx affected -t test-vr-cli

  #     - name: Create Report
  #       if: always() && github.event_name == 'pull_request' && steps.affected_projects_count.outputs.value > 0
  #       id: report
  #       run: |
  #         yarn visual-regression-assert report --outputPath dist/vrt
  #         cat dist/vrt/vrt-report.md >> $GITHUB_STEP_SUMMARY
  #         echo "value=true" >> $GITHUB_OUTPUT

  #     - name: Upload Report
  #       if: always() && github.event_name == 'pull_request' && steps.report.outputs.value == 'true'
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: vrt_report
  #         retention-days: 1
  #         if-no-files-found: error
  #         path: |
  #           dist/vrt/

  #     - name: Save PR number
  #       if: always() && github.event_name == 'pull_request' && steps.report.outputs.value == 'true'
  #       run: echo ${{ github.event.number }} > pr.txt

  #     - uses: actions/upload-artifact@v4
  #       if: always() && github.event_name == 'pull_request' && steps.report.outputs.value == 'true'
  #       with:
  #         name: pr-number
  #         retention-days: 1
  #         if-no-files-found: error
  #         path: |
  #           pr.txt

  # visual_regression_pr_2:
  #   if: github.repository_owner == 'hotell' && (github.event_name == 'pull_request' || (github.event_name == 'pull_request_target' && contains(toJson(github.event.pull_request.labels.*.name), 'approve-vrt')))
  #   runs-on: ubuntu-latest
  #   env:
  #     VRT_LABEL_ADDED: ${{(github.event_name == 'pull_request_target' && contains(toJson(github.event.pull_request.labels.*.name), 'approve-vrt'))}}
  #   permissions:
  #     contents: 'read'
  #     actions: 'read'
  #     pull-requests: 'read'
  #   steps:
  #     - run: |
  #         echo "approving VR diff ✅";
  #       if: env.VRT_LABEL_ADDED

  #     - uses: actions/checkout@v4
  #       if: github.event_name == 'pull_request'
  #       with:
  #         fetch-depth: 0

  #     - name: Derive appropriate SHAs for base and head for `nx affected` commands
  #       if: github.event_name == 'pull_request'
  #       uses: nrwl/nx-set-shas@dbe0650947e5f2c81f59190a38512cf49126fe6b # v4.3.0
  #       with:
  #         main-branch-name: 'master'

  #     - uses: actions/setup-node@v4
  #       if: github.event_name == 'pull_request'
  #       with:
  #         cache: 'yarn'
  #         node-version: '20'

  #     - run: yarn install --frozen-lockfile
  #       if: github.event_name == 'pull_request'
  #     - run: yarn playwright install --with-deps chromium
  #       if: github.event_name == 'pull_request'
  #     # NOTE: we need to build the assertion CLI - will be removed once migrated ot ESM
  #     - run: yarn nx run visual-regression-assert:build
  #       if: github.event_name == 'pull_request'

  #     - name: Affected Projects
  #       if: github.event_name == 'pull_request'
  #       id: affected_projects_count
  #       run: |
  #         yarn --silent nx show projects -t test-vr-cli --affected --verbose false
  #         affected_count=$(yarn --silent nx show projects -t test-vr-cli --affected --verbose false | wc -l | tr -d ' ')
  #         echo "value=$affected_count" >> $GITHUB_OUTPUT

  #     - name: Run VR tests
  #       if: github.event_name == 'pull_request'
  #       run: yarn nx affected -t test-vr-cli

  #     - name: Create Report
  #       if: always() && github.event_name == 'pull_request' && steps.affected_projects_count.outputs.value > 0
  #       id: report
  #       run: |
  #         yarn visual-regression-assert report --outputPath dist/vrt
  #         cat dist/vrt/vrt-report.md >> $GITHUB_STEP_SUMMARY
  #         echo "value=true" >> $GITHUB_OUTPUT

  #     - name: Upload Report
  #       if: always() && github.event_name == 'pull_request' && steps.report.outputs.value == 'true'
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: vrt_report
  #         retention-days: 1
  #         if-no-files-found: error
  #         path: |
  #           dist/vrt/

  #     - name: Save PR number
  #       if: always() && github.event_name == 'pull_request' && steps.report.outputs.value == 'true'
  #       run: echo ${{ github.event.number }} > pr.txt

  #     - uses: actions/upload-artifact@v4
  #       if: always() && github.event_name == 'pull_request' && steps.report.outputs.value == 'true'
  #       with:
  #         name: pr-number
  #         retention-days: 1
  #         if-no-files-found: error
  #         path: |
  #           pr.txt
